body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

header {
    width: 80%;
    background-color:  #333;
    color: #fff;
    padding: 10px;
}

  ul {
    list-style-type: none;
    padding: 0;
}

 ul li {
    display: inline;
    margin-right: 20px;
}

 ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    width: 80%;
    margin-top: 20px;
}

footer {
    width: 80%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}